Source: wagerrcore
Section: utils
Priority: optional
Maintainer: wagerrlp <wagerrlp@i2pmail.org>
Uploaders: wagerrlp <wagerrlp@i2pmail.org>
Build-Depends: debhelper,
 devscripts,
 bash-completion,
 build-essential,
 libtool,
 autotools-dev,
 autoconf,
 automake,
 pkg-config,
 bsdmainutils,
 python,
 libminiupnpc8-dev | libminiupnpc-dev,
 libboost-system-dev (>> 1.47),
 libboost-filesystem-dev (>> 1.47),
 libboost-chrono-dev (>> 1.47),
 libboost-test-dev (>> 1.47),
 libboost-thread-dev (>> 1.47),
 libboost-program-options-dev (>> 1.47),
 libdb4.8-dev,
 libdb4.8++-dev,
 libssl-dev-depends,
 qtbase5-dev, qttools5-dev-tools, qttools5-dev,
 libgmp-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 libevent-dev,
 libzmq3-dev,
 locales-all,
 help2man,
 doxygen
Standards-Version: 4.3.0
Homepage: http://www.wagerr.com
Vcs-Git: git://github.com/wagerr/wagerr.git
Vcs-Browser: http://github.com/wagerr/wagerr

Package: wagerrd
Architecture: any
Depends: libboost-program-options1.71.0 | libboost-program-options1.67.0 | libboost-program-options1.65.1 | libboost-program-options1.58.0,
 libboost-thread1.71.0 | libboost-thread1.67.0 | libboost-thread1.65.1 | libboost-thread1.58.0,
 libboost-chrono1.71.0 | libboost-chrono1.67.0 | libboost-chrono1.65.1 | libboost-chrono1.58.0,
 libqrencode3 | libqrencode4,
 libprotobuf17 | libprotobuf10 | libprotobuf9v5,
 libdb4.8++,
 libevent-pthreads-2.1-7 | libevent-pthreads-2.1-6 | libevent-pthreads-2.0-5,
 libssl1.0.0 | libssl1.0.0-depends
Description: Wagerr is a decentralized sportsbook that changes the way the world bets on sports.
 .
 - built for everyone.
 Wagerr uses distributed
 blockchain technology to execute betting contracts. It escrows
 stakes, verifies results, and pays out winners. By eliminating
 centralauthorities, Wagerr solves the most pernicious problems in
 the industry. Reducing corruption and risk results in predictable
 operation. You can bet on Wagerr.
 - Free of All regulatory bodies
 - Unrestricted global Access
 - Support for all major sport leagues
 - Truly Deflationary Chain
 - Value Coupling
 Nearly half of all fees are systematically destroyed — and
 destroying fees diminishes coin supply. It’s a simple matter of
 - supply and demand
 Given steady demand, free markets tend to respond to a dwindling
 supply with rising asset price. Holders of the asset will only
 sell it for the highest price the market will bear. Watch the
 video and check out the “economics” tab for more details on how
 the Wagerr economy works.
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides wagerrd daemon, a daemon for wagerr.
 .
 Documentation and wiki:
 Homepage: https://wagerr.com/
 Blockexplorer (main): https://explorer.wagerr.com/
 Blockexplorer (testnet): https://explorer2.wagerr.com/
 Github: https://github.com/wagerr/wagerr/
 Wiki: https://github.com/wagerr/wagerr/wiki
 .
 Coinmarketcap: https://coinmarketcap.com/currencies/wagerr/
 .
 Social networks/forums:
 - Telegram (https://t.me/wagerrcoin)
 - twitter (https://twitter.com/wagerrx)
 - reddit (https://www.reddit.com/r/Wagerr/)
 - bitcointalk (https://bitcointalk.org/index.php?topic=1911583.0)
 - facebook (https://www.facebook.com/wagerr/)

Package: wagerr-cli
Architecture: any
Depends: libboost-program-options1.71.0 | libboost-program-options1.67.0 | libboost-program-options1.65.1 | libboost-program-options1.58.0,
 libboost-thread1.71.0 | libboost-thread1.67.0 | libboost-thread1.65.1 | libboost-thread1.58.0,
 libboost-chrono1.71.0 | libboost-chrono1.67.0 | libboost-chrono1.65.1 | libboost-chrono1.58.0,
 libqrencode3 | libqrencode4,
 libprotobuf17 | libprotobuf10 | libprotobuf9v5,
 libdb4.8++,
 libevent-pthreads-2.1-7 | libevent-pthreads-2.1-6 | libevent-pthreads-2.0-5,
 libssl1.0.0 | libssl1.0.0-depends
Description: Wagerr is a decentralized sportsbook that changes the way the world bets on sports.
 .
 - built for everyone.
 Wagerr uses distributed
 blockchain technology to execute betting contracts. It escrows
 stakes, verifies results, and pays out winners. By eliminating
 centralauthorities, Wagerr solves the most pernicious problems in
 the industry. Reducing corruption and risk results in predictable
 operation. You can bet on Wagerr.
 - Free of All regulatory bodies
 - Unrestricted global Access
 - Support for all major sport leagues
 - Truly Deflationary Chain
 - Value Coupling
 Nearly half of all fees are systematically destroyed — and
 destroying fees diminishes coin supply. It’s a simple matter of
 - supply and demand
 Given steady demand, free markets tend to respond to a dwindling
 supply with rising asset price. Holders of the asset will only
 sell it for the highest price the market will bear. Watch the
 video and check out the “economics” tab for more details on how
 the Wagerr economy works.
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides wagerr-cli, a CLI for wagerr.
 .
 Documentation and wiki:
 .
 Homepage: https://wagerr.com/
 Blockexplorer (main): https://explorer.wagerr.com/
 Blockexplorer (testnet): https://explorer2.wagerr.com/
 Github: https://github.com/wagerr/wagerr/
 Wiki: https://github.com/wagerr/wagerr/wiki
 .
 Coinmarketcap: https://coinmarketcap.com/currencies/wagerr/
 .
 Social networks/forums:
 - Telegram (https://t.me/wagerrcoin)
 - twitter (https://twitter.com/wagerrx)
 - reddit (https://www.reddit.com/r/Wagerr/)
 - bitcointalk (https://bitcointalk.org/index.php?topic=1911583.0)
 - facebook (https://www.facebook.com/wagerr/)
 
Package: wagerr-qt
Architecture: any
Depends: libboost-program-options1.71.0 | libboost-program-options1.67.0 | libboost-program-options1.65.1 | libboost-program-options1.58.0,
 libboost-thread1.71.0 | libboost-thread1.67.0 | libboost-thread1.65.1 | libboost-thread1.58.0,
 libboost-chrono1.71.0 | libboost-chrono1.67.0 | libboost-chrono1.65.1 | libboost-chrono1.58.0,
 libqt5network5,
 libqt5widgets5,
 libqrencode3 | libqrencode4,
 libprotobuf17 | libprotobuf10 | libprotobuf9v5,
 libdb4.8++,
 libevent-pthreads-2.1-7 | libevent-pthreads-2.1-6 | libevent-pthreads-2.0-5,
 libssl1.0.0 | libssl1.0.0-depends
Description: Wagerr is a decentralized sportsbook that changes the way the world bets on sports.
 .
 - built for everyone.
 Wagerr uses distributed
 blockchain technology to execute betting contracts. It escrows
 stakes, verifies results, and pays out winners. By eliminating
 centralauthorities, Wagerr solves the most pernicious problems in
 the industry. Reducing corruption and risk results in predictable
 operation. You can bet on Wagerr.
 - Free of All regulatory bodies
 - Unrestricted global Access
 - Support for all major sport leagues
 - Truly Deflationary Chain
 - Value Coupling
 Nearly half of all fees are systematically destroyed — and
 destroying fees diminishes coin supply. It’s a simple matter of
 - supply and demand
 Given steady demand, free markets tend to respond to a dwindling
 supply with rising asset price. Holders of the asset will only
 sell it for the highest price the market will bear. Watch the
 video and check out the “economics” tab for more details on how
 the Wagerr economy works.
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides wagerr-Qt, a GUI for wagerr based on Qt.
 .
 Documentation and wiki:
 . 
 Homepage: https://wagerr.com/
 Blockexplorer (main): https://explorer.wagerr.com/
 Blockexplorer (testnet): https://explorer2.wagerr.com/
 Github: https://github.com/wagerr/wagerr/
 Wiki: https://github.com/wagerr/wagerr/wiki
 .
 Coinmarketcap: https://coinmarketcap.com/currencies/wagerr/
 .
 Social networks/forums:
 - Telegram (https://t.me/wagerrcoin)
 - twitter (https://twitter.com/wagerrx)
 - reddit (https://www.reddit.com/r/Wagerr/)
 - bitcointalk (https://bitcointalk.org/index.php?topic=1911583.0)
 - facebook (https://www.facebook.com/wagerr/)

Package: wagerr-tx
Architecture: any
Depends: libboost-program-options1.71.0 | libboost-program-options1.67.0 | libboost-program-options1.65.1 | libboost-program-options1.58.0,
 libboost-thread1.71.0 | libboost-thread1.67.0 | libboost-thread1.65.1 | libboost-thread1.58.0,
 libboost-chrono1.71.0 | libboost-chrono1.67.0 | libboost-chrono1.65.1 | libboost-chrono1.58.0,
 libqrencode3 | libqrencode4,
 libprotobuf17 | libprotobuf10 | libprotobuf9v5,
 libdb4.8++,
 libevent-pthreads-2.1-7 | libevent-pthreads-2.1-6 | libevent-pthreads-2.0-5,
 libssl1.0.0 | libssl1.0.0-depends
Description: gaming related peer-to-peer network based digital currency tx tool
 wagerr Core is an MIT licensed,  open source, gaming oriented,
 blockchain-based cryptocurrency with ultra fast transactions,
 low fees, high network decentralization, and Zero Knowledge
 cryptography proofs for industry-leading transaction anonymity.
 .
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides wagerr-tx, a tool for wagerr based transactions.
 .
 Documentation and wiki:
 .
 Homepage: https://wagerr.com/
 Blockexplorer (main): https://explorer.wagerr.com/
 Blockexplorer (testnet): https://explorer2.wagerr.com/
 Github: https://github.com/wagerr/wagerr/
 Wiki: https://github.com/wagerr/wagerr/wiki
 .
 Coinmarketcap: https://coinmarketcap.com/currencies/wagerr/
 .
 Social networks/forums:
 - Telegram (https://t.me/wagerrcoin)
 - twitter (https://twitter.com/wagerrx)
 - reddit (https://www.reddit.com/r/Wagerr/)
 - bitcointalk (https://bitcointalk.org/index.php?topic=1911583.0)
 - facebook (https://www.facebook.com/wagerr/)

Package: wagerr-full
Architecture: any
Depends: libboost-program-options1.71.0 | libboost-program-options1.67.0 | libboost-program-options1.65.1 | libboost-program-options1.58.0,
 libboost-thread1.71.0 | libboost-thread1.67.0 | libboost-thread1.65.1 | libboost-thread1.58.0,
 libboost-chrono1.71.0 | libboost-chrono1.67.0 | libboost-chrono1.65.1 | libboost-chrono1.58.0,
 libqt5network5,
 libqt5widgets5,
 libqrencode3 | libqrencode4,
 libprotobuf17 | libprotobuf10 | libprotobuf9v5,
 libdb4.8++,
 libevent-pthreads-2.1-7 | libevent-pthreads-2.1-6 | libevent-pthreads-2.0-5,
 libssl1.0.0 | libssl1.0.0-depends
Description: Wagerr is a decentralized sportsbook that changes the way the world bets on sports.
 .
 - built for everyone.
 Wagerr uses distributed
 blockchain technology to execute betting contracts. It escrows
 stakes, verifies results, and pays out winners. By eliminating
 centralauthorities, Wagerr solves the most pernicious problems in
 the industry. Reducing corruption and risk results in predictable
 operation. You can bet on Wagerr.
 - Free of All regulatory bodies
 - Unrestricted global Access
 - Support for all major sport leagues
 - Truly Deflationary Chain
 - Value Coupling
 Nearly half of all fees are systematically destroyed — and
 destroying fees diminishes coin supply. It’s a simple matter of
 - supply and demand
 Given steady demand, free markets tend to respond to a dwindling
 supply with rising asset price. Holders of the asset will only
 sell it for the highest price the market will bear. Watch the
 video and check out the “economics” tab for more details on how
 the Wagerr economy works.
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides wagerr QT GUI, daemon and CLI:
   wagerr-qt, wagerrd, wagerr-tx, wagerr-cli
 .
 Documentation and wiki:
 .
 Homepage: https://wagerr.com/
 Blockexplorer (main): https://explorer.wagerr.com/
 Blockexplorer (testnet): https://explorer2.wagerr.com/
 Github: https://github.com/wagerr/wagerr/
 Wiki: https://github.com/wagerr/wagerr/wiki
 .
 Coinmarketcap: https://coinmarketcap.com/currencies/wagerr/
 .
 Social networks/forums:
 - Telegram (https://t.me/wagerrcoin)
 - twitter (https://twitter.com/wagerrx)
 - reddit (https://www.reddit.com/r/Wagerr/)
 - bitcointalk (https://bitcointalk.org/index.php?topic=1911583.0)
 - facebook (https://www.facebook.com/wagerr/)

Package: wagerr-dev
Architecture: any
Depends: libboost-program-options1.71.0 | libboost-program-options1.67.0 | libboost-program-options1.65.1 | libboost-program-options1.58.0,
 libboost-thread1.71.0 | libboost-thread1.67.0 | libboost-thread1.65.1 | libboost-thread1.58.0,
 libboost-chrono1.71.0 | libboost-chrono1.67.0 | libboost-chrono1.65.1 | libboost-chrono1.58.0,
 libqt5network5,
 libqt5widgets5,
 libqrencode3 | libqrencode4,
 libprotobuf17 | libprotobuf10 | libprotobuf9v5,
 libdb4.8++,
 libevent-pthreads-2.1-7 | libevent-pthreads-2.1-6 | libevent-pthreads-2.0-5,
 libssl1.0.0 | libssl1.0.0-depends
Description: Wagerr is a decentralized sportsbook that changes the way the world bets on sports.
 .
 - built for everyone.
 Wagerr uses distributed
 blockchain technology to execute betting contracts. It escrows
 stakes, verifies results, and pays out winners. By eliminating
 centralauthorities, Wagerr solves the most pernicious problems in
 the industry. Reducing corruption and risk results in predictable
 operation. You can bet on Wagerr.
 - Free of All regulatory bodies
 - Unrestricted global Access
 - Support for all major sport leagues
 - Truly Deflationary Chain
 - Value Coupling
 Nearly half of all fees are systematically destroyed — and
 destroying fees diminishes coin supply. It’s a simple matter of
 - supply and demand
 Given steady demand, free markets tend to respond to a dwindling
 supply with rising asset price. Holders of the asset will only
 sell it for the highest price the market will bear. Watch the
 video and check out the “economics” tab for more details on how
 the Wagerr economy works.
 Full transaction history is stored locally at each client.  This
 requires 1+ GB of space, slowly growing.
 .
 This package provides all wagerr Core related packaged:
   wagerr-qt, wagerrd, wagerr-tx, wagerr-cli, test_wagerr, test_wagerr-qt
 .
 Documentation and wiki:
 .
 Homepage: https://wagerr.com/
 Blockexplorer (main): https://explorer.wagerr.com/
 Blockexplorer (testnet): https://explorer2.wagerr.com/
 Github: https://github.com/wagerr/wagerr/
 Wiki: https://github.com/wagerr/wagerr/wiki
 .
 Coinmarketcap: https://coinmarketcap.com/currencies/wagerr/
 .
 Social networks/forums:
 - Telegram (https://t.me/wagerrcoin)
 - twitter (https://twitter.com/wagerrx)
 - reddit (https://www.reddit.com/r/Wagerr/)
 - bitcointalk (https://bitcointalk.org/index.php?topic=1911583.0)
 - facebook (https://www.facebook.com/wagerr/)
